# Mandatory Assignment 1

This is the first of two mandatory assignments which must be completed during the course. First some practical information:

* When is the assignment due?: **23:59, Sunday, August 19, 2018.**
* How do you grade the assignment?: You will **peergrade** each other as primary grading. 
* Can i work with my group?: **yes**

The assigment consist of one to tree problems from each of the exercise sets you have solved so far (excluding Set 1). We've tried to select problems which are self contained, but it might be nessecary to solve some of the previous exercises in each set to fully answer the problems in this assignment.

## Problems from Exercise Set 2:

> **Ex. 2.2**: Make two lists. The first should be numbered. The second should be unnumbered and contain at least one sublevel.

# [Answer to Ex. 2.2 here] (convert to markdown cell)

### First list

1. Item number 1
1. Item number 2
1. Item number 3

### Second list

* Item number 1
* Item number 2
    * Item number 2a
    * Item number 2b

## Problems from Exercise set 3:

> **Ex. 3.1.3:** Let `l1 = ['r ', 'Is', '>', ' < ', 'g ', '?']`. Create from `l1` the sentence `"Is r > g?"` using your knowledge about string formatting. Store this new string in a variable called `answer_31`. Make sure there is only one space in between worlds.
>
>> _Hint:_ You should be able to combine the above informations to solve this exercise.

In [2]:
# [Answer to Ex. 3.1.3 here]
l1 = ['r ', 'Is', '>', ' < ', 'g ', '?']

# answer_31 = 

# YOUR CODE HERE

answer_31 = l1[1].strip() + ' ' + l1[0].strip() + ' ' + l1[2].strip() + ' ' + l1[4].strip() + l1[5].strip()

In [3]:
assert answer_31 == "Is r > g?"

> **Ex. 3.1.4**: Create an empty dictionary `words` using the `dict()`function. Then add each of the words in `['animal', 'coffee', 'python', 'unit', 'knowledge', 'tread', 'arise']` as a key, with the value being a boolean indicator for whether the word begins with a vowel. The results should look like `{'bacon': False, 'asynchronous': True ...}`. Store the result in a new variable called `answer_32`.
>
>> _Hint:_ You might want co first construct a function that asseses whether a given word begins with a vowel or not.

In [4]:
# [Answer to Ex. 3.1.4 here]
W = ['animal', 'coffee', 'python', 'unit', 'knowledge', 'tread', 'arise']

# answer_32 = 


# YOUR CODE HERE

def VowCheck (z):
    if(z=='A' or z=='a' or z=='E' or z =='e' or z=='I' or z=='i' or z=='O' or z=='o' or z=='U' or z=='u'):
        return True
    else:
        return False
    
answer_32 = dict()

keys = ['animal', 'coffee', 'python', 'unit', 'knowledge', 'tread', 'arise']
values = [VowCheck(keys[0][0]), VowCheck(keys[1][0]), VowCheck(keys[2][0]), 
          VowCheck(keys[3][0]), VowCheck(keys[4][0]), VowCheck(keys[5][0]), VowCheck(keys[6][0])]
key_value_pairs = list(zip(keys, values, ))

answer_32.update (key_value_pairs)

print(answer_32)

{'animal': True, 'coffee': False, 'python': False, 'unit': True, 'knowledge': False, 'tread': False, 'arise': True}

In [5]:
assert answer_32 == {i: i[0] in 'aeiou' for i in W}
assert sorted(answer_32) == sorted(W)

> **Ex. 3.3.2:** use the `requests` module (get it with `pip install requests`) and `construct_link()` which you defined in the previous question (ex 3.3.1) to request birth data from the "FOD" table. Get all available years (variable "Tid"), but only female births (BARNKON=P) . Unpack the json payload and store the result. Wrap the whole thing in a function which takes an url as input and returns the corresponding output.
>
> Store the birth data in a new variable called `answer_33`.
>
>> _Hint:_ The `requests.response` object has a `.json()` method. 
>
>> _Note:_ you wrote `construct_link()` in 3.3.1, if you didn't heres the link you need to get: `https://api.statbank.dk/v1/data/FOLK1A/JSONSTAT?lang=en&Tid=*`

In [6]:
# [Answer to Ex. 3.3.2 here]

# answer_33 = 

# YOUR CODE HERE
raise NotImplementedError()

NotImplementedError:

In [ ]:
assert sorted(answer_33['dataset'].keys()) == ['dimension', 'label', 'source', 'updated', 'value']
assert 'BARNKON' in answer_33['dataset']['dimension'].keys()

## Problems from exercise set 4

In [ ]:
import numpy as np
import pandas as pd

> **Ex. 4.1.1:** Use Pandas' CSV reader to fetch  daily data weather from 1864 for various stations - available [here](https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/). Store the dataframe in a variable called `answer_41`.
>
>> *Hint 1*: for compressed files you may need to specify the keyword `compression`.
>
>> *Hint 2*: keyword `header` can be specified as the CSV has no column names.
>
>> *Hint 3*: Specify the path, as the URL linking directly to the 1864 file.

In [ ]:
# [Answer to Ex. 4.1.1 here]

# YOUR CODE HERE

path_1864 = 'https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/1864.csv.gz'

answer_41 = pd.read_csv(path_1864, compression = 'gzip', header = None)

In [ ]:
assert answer_41.shape == (27349, 8)
assert list(answer_41.columns) == list(range(8))

> **Ex. 4.1.2:** Structure your weather DataFrame by using only the relevant columns (station identifier, data, observation type, observation value), rename them. Make sure observations are correctly formated (how many decimals should we add? one?).
>
> Store the resulting dataframe in a new variable called `answer_42`.
>
>> *Hint:* rename can be done with `df.columns=COLS` where `COLS` is a list of column names.

In [ ]:
# [Answer to Ex. 4.1.2 here]

# YOUR CODE HERE

answer_42 = answer_41.drop(columns = [4, 5,6, 7], axis = 1)

answer_42 = answer_42.rename(columns = {0: 'Station Identifier', 1: 'Date', 2: 'Observation type', 3: 'Observation value'})

answer_42['Observation value'] = answer_42['Observation value']/10
#One decimal is efficient

print(answer_42.head())

In [ ]:
assert answer_42.shape == (27349, 4)
assert 144.8 in [answer_42[i].max() for i in answer_42]
assert -666.0 in [answer_42[i].min() for i in answer_42]
assert 18640101 in [answer_42[i].min() for i in answer_42]

> **Ex. 4.1.3:**  Select data for the station `ITE00100550` and only observations for maximal temperature. Make a copy of the DataFrame. Explain in a one or two sentences how copying works.
>
> Store the subsetted dataframe in a new variable called `answer_43`.
>
>> *Hint 1*: the `&` operator works elementwise on boolean series (like `and` in core python).
>
>> *Hint 2*: copying of the dataframe is done with the `copy` method for DataFrames.

In [ ]:
# [Answer to Ex. 4.1.3 here]


# YOUR CODE HERE

answer_43 = answer_42[answer_42['Station Identifier'].str.contains("ITE00100550") & answer_42['Observation type'].str.contains("TMAX")]

print(answer_43.head(10))

In [ ]:
assert 'ITE00100550' in [answer_43[i].min() for i in answer_43]
assert 'ITE00100550' in [answer_43[i].max() for i in answer_43]
assert 'TMAX' in [answer_43[i].min() for i in answer_43]
assert 'TMAX' in [answer_43[i].max() for i in answer_43]

> **Ex. 4.1.4:** Make a new column in `answer_44` called `TMAX_F` where you have converted the temperature variables to Fahrenheit. Make sure not to overwrite `answer_43`.
>
> Store the resulting dataframe in a variable called `answer_44`.
>
>> *Hint*: Conversion is $F = 32 + 1.8*C$ where $F$ is Fahrenheit and $C$ is Celsius.

In [ ]:
# [Answer to Ex. 4.1.4 here]
answer_44 = answer_43.copy()

# YOUR CODE HERE

answer_44['TMAX_F'] = 32 + 1.8 * answer_44['Observation value']

print(answer_44.head(10))

In [ ]:
assert set(answer_44.columns) -  set(answer_43.columns) == {'TMAX_F'}

## Problems from exercise set 5

In [9]:
import matplotlib.pyplot as plt
import numpy as np 
import pandas as pd
import seaborn as sns 

%matplotlib inline 

iris = sns.load_dataset('iris')
titanic = sns.load_dataset('titanic')

> **Ex. 5.1.1:**: Show the first five rows of the titanic dataset. What information is in the dataset? Use a barplot to show the probability of survival for men and women within each passenger class. Can you make a boxplot showing the same information (why/why not?). _Bonus:_ show a boxplot for the fare-prices within each passenger class. 
>
> Spend five minutes discussing what you can learn about the survival-selection aboard titanic from the figure(s).
>
> > _Hint:_ https://seaborn.pydata.org/generated/seaborn.barplot.html, specifically the `hue` option.

In [ ]:
# [Answer to Ex. 5.1.1 here]

# YOUR CODE HERE

print(titanic.head(5))

sns.barplot(x = titanic['class'], y = titanic['survived'], hue = titanic['sex'])

In [ ]:
t2 = sns.boxplot(x='class', y='fare', hue='sex', data=titanic)

> **Ex. 5.1.2:** Using the iris flower dataset, draw a scatterplot of sepal length and petal length. Include a second order polynomial fitted to the data. Add a title to the plot and rename the axis labels.
> _Discuss:_ Is this a meaningful way to display the data? What could we do differently?
>
> For a better understanding of the dataset this image might be useful:
> <img src="iris_pic.png" alt="Drawing" style="width: 200px;"/>
>
>> _Hint:_ use the `.regplot` method from seaborn.

In [ ]:
# [Answer to Ex. 5.1.2 here]

# YOUR CODE HERE

print(iris.head(5))

iris_plot = sns.regplot('petal_length', 'sepal_length', data = iris, scatter = True, fit_reg = True, order = 2)

iris_plot.set(xlabel = 'petal', ylabel = 'sepal')
iris_plot.set_title('Iris')

> **Ex. 5.1.3:** Combine the two of the figures you created above into a two-panel figure similar to the one shown here:
> <img src="Example.png" alt="Drawing" style="width: 600px;"/>
>
> Save the figure as a png file on your computer. 
>> _Hint:_ See [this question](https://stackoverflow.com/questions/41384040/subplot-for-seaborn-boxplot) on stackoverflow for inspiration.

In [ ]:
# [Answer to Ex. 5.1.3 here]

# YOUR CODE HERE

f, axes = plt.subplots(1, 2, figsize = (12, 5))

sns.regplot('petal_length', 'sepal_length', data = iris, scatter = True, fit_reg = True, order = 2, ax = axes[0])
ax1 = sns.barplot(x = titanic['class'], y = titanic['survived'], hue = titanic['sex'], ax = axes[1])

ax1.set_ylim([0,1])

> **Ex. 5.1.4:** Use [pairplot with hue](https://seaborn.pydata.org/generated/seaborn.pairplot.html) to create a figure that clearly shows how the different species vary across measurements. Change the color palette and remove the shading from the density plots. _Bonus:_ Try to explain how the `diag_kws` argument works (_hint:_ [read here](https://stackoverflow.com/questions/1769403/understanding-kwargs-in-python))

In [ ]:
# [Answer to Ex. 5.1.4 here]

# YOUR CODE HERE

ax_514 = sns.pairplot(iris, hue = "species", palette = "husl",  diag_kws=dict(shade=False))
ax_514

## Problems from exercise set 6

> _Note:_ In the exercises we asked you to download weather data from the NOAA website. For this assignment the data are loaded in the following code cell into two pandas dataframes.

In [8]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

weather_1864 = pd.read_csv('weather_data_1864.csv')

FileNotFoundError: [Errno 2] File b'weather_data_1864.csv' does not exist: b'weather_data_1864.csv'

> **Ex. 6.1.4:** Extract the country code from the station name into a separate column.
>
> Create a new column in `weather_1864` called `answer_61` and store the country codes here.
>
>> _Hint:_ The station column contains a GHCND ID, given to each weather station by NOAA. The format of these ID's is a 2-3 letter country code, followed by a integer identifying the specific station. A simple approach is to assume a fixed length of the country ID. A more complex way would be to use the [`re`](https://docs.python.org/2/library/re.html) module.

In [ ]:
# [Answer to Ex. 6.1.4]
# weather_1864['answer_61'] =

# YOUR CODE HERE

path_1864 = 'https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/1864.csv.gz'

df_csv = pd.read_csv(path_1864, compression = 'gzip', header = None)

df_csv = df_csv.drop(columns = [4, 5,6, 7], axis = 1)

df_csv = df_csv.rename(columns = {0: 'Station Identifier', 1: 'Date', 2: 'Observation type', 3: 'Observation value'})

df_csv['answer_61'] = df_csv['Station Identifier'].str[0:2]

df_csv['Datetime'] = df_csv['Date']

df_csv['Datetime'] = df_csv['Datetime'].astype(str)

df_csv['Datetime'] = pd.to_datetime(df_csv['Datetime'])

df_csv['month'] = pd.DatetimeIndex(df_csv['Datetime']).month

df_csv_TMAX = df_csv[df_csv['Observation type'].str.contains("TMAX")]

weather_1864 = df_csv_TMAX.copy()

In [ ]:
#print(weather_1864.head())

sorted(weather_1864['answer_61'].str[:2].unique())

In [7]:
assert sorted(weather_1864['answer_61'].str[:2].unique()) == sorted(['SZ', 'CA', 'EZ', 'GM', 'AU', 'IT', 'BE', 'UK', 'EI', 'AG', 'AS'])

NameError: name 'weather_1864' is not defined

> **Ex. 6.1.5:** Make a function that downloads and formats the weather data according to previous exercises in Exercise Section 4.1, 6.1. You should use data for ALL stations but still only select maximal temperature. _Bonus:_ To validate that your function works plot the temperature curve for each country in the same window. Use `plt.legend()` to add a legend. 
>
> Name your function `prepareWeatherData`.

In [ ]:
# [Answer to Ex. 6.1.5]

#def prepareWeatherData(year):
    # Your code here
  #  return 

# YOUR CODE HERE

def prepareWeatherData(year):
    df = pd.read_csv('https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/'+ year +'.csv.gz', compression='gzip', header=None, sep=',', quotechar='"')
    df_dropped = df.drop(columns=[4, 5, 6, 7])
    df_renamed = df_dropped.rename(columns={0: "Station identifier", 1: "Date", 2: "Observation type", 3: "Observation value"})
    df_reduced = df_renamed[df_renamed['Observation type'].str.contains("TMAX")]
    df_reduced['Fahrenheit'] = df_reduced['Observation value'] * 1.8 + 32
    df_sorted = df_reduced.sort_values(by=['Observation value'])
    df_reindexed = df_sorted.reset_index(drop=True)
    df_string = df_reindexed.astype(str)
    df_string['date_time'] = pd.to_datetime(df_string['Date'])
    df_string['Observation value'] = pd.to_numeric(df_string['Observation value'])/10
    df_string['dt_Month'] = pd.DatetimeIndex(df_string['date_time']).month
    df_string['Country code'] = df_string['Station identifier'].str.replace('\d+', '')
    df_string = df_string.drop(columns=['Date'])
    df_string = df_string.set_index('date_time')
    return(df_string)

prepareWeatherData('1864')

In [ ]:
f, axes = plt.subplots(1, figsize = (16, 9))

prepareWeatherData('1864').groupby('Country code')['Observation value'].plot(legend=True)

plt.legend(loc='upper center', bbox_to_anchor=(0.5, -0.1), fancybox=True, shadow=True, ncol=5)

In [ ]:
assert prepareWeatherData('1864').shape == (5686, 6)

## Problems from exercise set 7

> _Note:_ Once again if you haven't managed to download the data from NOAA, you can refer to the github repo to get csv-files containing the required data.

In [ ]:
%matplotlib inline 

import pandas as pd 
import matplotlib.pyplot as plt
import matplotlib as mpl

# Increases the plot size a little
mpl.rcParams['figure.figsize'] = 11, 6

> **Ex. 7.1.1:** Plot the monthly max,min, mean, first and third quartiles for maximum temperature for our station with the ID _'ITE00100550'_ in 1864. 

> *Hint*: the method `describe` computes all these measures.

In [ ]:
# [Answer to Ex. 7.1.1]

# YOUR CODE HERE

df711 = prepareWeatherData('1864')[prepareWeatherData('1864')['Station identifier'].str.contains("ITE00100550")]

df_g = (df711['Observation value'].groupby(df711['dt_Month']).describe())
df_g = df_g.loc [ :, ['max', 'mean', 'min', '25%', '75%']]

print(df_g.head(12))

In [ ]:
plt.boxplot(df_g)

> **Ex. 7.1.2:** Get the processed data from years 1864-1867 as a list of DataFrames. Convert the list into a single DataFrame by concatenating vertically. 
>
> Name the concatenated data `answer_72`

In [12]:
# [Answer to Ex. 7.1.2]

# YOUR CODE HERE
    
answer_72 = []

for i in range(1864, 1868):
    path_ = 'https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/'+ str(i) +'.csv.gz'
    df_csvloop = pd.read_csv(path_, compression = 'gzip', header = None)
    df_csvloop = df_csvloop.drop(columns = [4, 5,6, 7], axis = 1)
    df_csvloop = df_csvloop.rename(columns = {0: 'Station Identifier', 1: 'Date', 2: 'Observation type', 3: 'Observation value'})
    df_csvloop['Country Code'] = df_csvloop['Station Identifier'].str.extract(r'([A-z]+)') #Use of Regex
    df_csvloop['Datetime'] = df_csvloop['Date']
    df_csvloop['Datetime'] = df_csvloop['Datetime'].astype(str)
    df_csvloop['Datetime'] = pd.to_datetime(df_csvloop['Datetime'])
    df_csvloop['month'] = pd.DatetimeIndex(df_csvloop['Datetime']).month
    df_csvloop = df_csvloop[df_csvloop['Observation type'].str.contains("TMAX")]
    answer_72.append(df_csvloop)

In [13]:
answer_72 = pd.concat(answer_72, axis = 0, sort = False)

print(answer_72)

      Station Identifier      Date Observation type  Observation value  \
0            ITE00100550  18640101             TMAX                 10
8            ASN00086071  18640101             TMAX                214
15           CA006158350  18640101             TMAX                 11
24           EIE00101859  18640101             TMAX                 94
28           BE000006447  18640101             TMAX                -23
34           GME00125218  18640101             TMAX                -81
39           EZE00100082  18640101             TMAX                -92
42           ITE00100554  18640101             TMAX                 17
47           ASN00066062  18640101             TMAX                244
53           AU000005901  18640101             TMAX                -50
55           GM000004204  18640101             TMAX                -68
59           UK000047811  18640101             TMAX                 59
67           UK000056225  18640101             TMAX                  5
72           SZ000006717  18640101             TMAX                -82
75           ITE00100550  18640102             TMAX                  8
83           ASN00086071  18640102             TMAX                234
90           CA006158350  18640102             TMAX               -161
99           EIE00101859  18640102             TMAX                 78
103          BE000006447  18640102             TMAX                -25
105          AGE00135039  18640102             TMAX                140
111          GME00125218  18640102             TMAX                -71
116          EZE00100082  18640102             TMAX                -98
119          ITE00100554  18640102             TMAX                 -3
124          ASN00066062  18640102             TMAX                266
130          AU000005901  18640102             TMAX                -70
132          GM000004204  18640102             TMAX                -63
136          UK000047811  18640102             TMAX                 42
144          UK000056225  18640102             TMAX                 -1
149          SZ000006717  18640102             TMAX               -107
152          ITE00100550  18640103             TMAX                -28
...                  ...       ...              ...                ...
47697        UK000056225  18671230             TMAX                 -6
47703        SZ000006717  18671230             TMAX               -115
47707        ITE00100550  18671231             TMAX                  4
47715        CA006150689  18671231             TMAX                -44
47721        ASN00086071  18671231             TMAX                218
47729        CA006158350  18671231             TMAX                 -6
47740        EIE00101859  18671231             TMAX                  6
47743        CA006153192  18671231             TMAX                -17
47747        CA006139520  18671231             TMAX                  6
47751        CA006110549  18671231             TMAX                -17
47757        BE000006447  18671231             TMAX                -39
47763        EI000003969  18671231             TMAX                 34
47766        GME00125218  18671231             TMAX                -88
47772        EZE00100082  18671231             TMAX                -75
47775        CA006166416  18671231             TMAX                -56
47779        CA006106362  18671231             TMAX               -111
47783        ITE00100554  18671231             TMAX                  6
47790        ASN00066062  18671231             TMAX                293
47797        AU000005901  18671231             TMAX               -104
47799        GM000004204  18671231             TMAX                -63
47807        UK000047811  18671231             TMAX                 28
47810        USC00288878  18671231             TMAX                -22
47818        CA006122845  18671231             TMAX                 -6
47824        CA006148100  18671231             TMAX                -33
47828        ASN00074128  18671231             TMAX                222
47831        CA006101872  18671231             TMAX                -39
47835        CA006137735  18671231             TMAX                -11
47839        ASN00090015  18671231             TMAX                167
47840        UK000056225  18671231             TMAX                 -5
47846        SZ000006717  18671231             TMAX               -158

      Country Code   Datetime  month
0              ITE 1864-01-01      1
8              ASN 1864-01-01      1
15              CA 1864-01-01      1
24             EIE 1864-01-01      1
28              BE 1864-01-01      1
34             GME 1864-01-01      1
39             EZE 1864-01-01      1
42             ITE 1864-01-01      1
47             ASN 1864-01-01      1
53              AU 1864-01-01      1
55              GM 1864-01-01      1
59              UK 1864-01-01      1
67              UK 1864-01-01      1
72              SZ 1864-01-01      1
75             ITE 1864-01-02      1
83             ASN 1864-01-02      1
90              CA 1864-01-02      1
99             EIE 1864-01-02      1
103             BE 1864-01-02      1
105            AGE 1864-01-02      1
111            GME 1864-01-02      1
116            EZE 1864-01-02      1
119            ITE 1864-01-02      1
124            ASN 1864-01-02      1
130             AU 1864-01-02      1
132             GM 1864-01-02      1
136             UK 1864-01-02      1
144             UK 1864-01-02      1
149             SZ 1864-01-02      1
152            ITE 1864-01-03      1
...            ...        ...    ...
47697           UK 1867-12-30     12
47703           SZ 1867-12-30     12
47707          ITE 1867-12-31     12
47715           CA 1867-12-31     12
47721          ASN 1867-12-31     12
47729           CA 1867-12-31     12
47740          EIE 1867-12-31     12
47743           CA 1867-12-31     12
47747           CA 1867-12-31     12
47751           CA 1867-12-31     12
47757           BE 1867-12-31     12
47763           EI 1867-12-31     12
47766          GME 1867-12-31     12
47772          EZE 1867-12-31     12
47775           CA 1867-12-31     12
47779           CA 1867-12-31     12
47783          ITE 1867-12-31     12
47790          ASN 1867-12-31     12
47797           AU 1867-12-31     12
47799           GM 1867-12-31     12
47807           UK 1867-12-31     12
47810          USC 1867-12-31     12
47818           CA 1867-12-31     12
47824           CA 1867-12-31     12
47828          ASN 1867-12-31     12
47831           CA 1867-12-31     12
47835           CA 1867-12-31     12
47839          ASN 1867-12-31     12
47840           UK 1867-12-31     12
47846           SZ 1867-12-31     12

[30003 rows x 7 columns]

In [ ]:
assert answer_72.shape == (30003, 7)

> **Ex. 7.1.3:** Parse the station location data which you can find at https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/ghcnd-stations.txt. Merge station locations onto the weather data spanning 1864-1867.  
>
> Store the merged data in a new variable called `answer_73`.
>
> _Hint:_ The location data have the folllowing format, 

```
------------------------------
Variable   Columns   Type
------------------------------
ID            1-11   Character
LATITUDE     13-20   Real
LONGITUDE    22-30   Real
ELEVATION    32-37   Real
STATE        39-40   Character
NAME         42-71   Character
GSN FLAG     73-75   Character
HCN/CRN FLAG 77-79   Character
WMO ID       81-85   Character
------------------------------
```

> *Hint*: The station information has fixed width format - does there exist a pandas reader for that?

In [60]:
statlocpath = 'https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/ghcnd-stations.txt'

path_2 = 'https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/1864.csv.gz'
df_csvloop2 = pd.read_csv(path_2, compression = 'gzip', header = None)
df_csvloop2 = df_csvloop2.drop(columns = [4, 5,6, 7], axis = 1)
df_csvloop2 = df_csvloop2.rename(columns = {0: 'Station Identifier', 1: 'Date', 2: 'Observation type', 3: 'Observation value'})
df_csvloop2['Country Code'] = df_csvloop2['Station Identifier'].str.extract(r'([A-z]+)') #Use of Regex
df_csvloop2['Datetime'] = df_csvloop2['Date']
df_csvloop2['Datetime'] = df_csvloop2['Datetime'].astype(str)
df_csvloop2['Datetime'] = pd.to_datetime(df_csvloop2['Datetime'])
df_csvloop2['month'] = pd.DatetimeIndex(df_csvloop2['Datetime']).month
df_csvloop2 = df_csvloop2[df_csvloop2['Observation type'].str.contains("TMAX")]

In [66]:
# [Answer to Ex. 7.1.3]

# YOUR CODE HERE

columns = [(1,11), (13,20), (22,30), (32,37), (38,40), (42,71), (73,75), (77,79), (81,82)]

df_merged = pd.read_fwf(statlocpath, header = None, colspecs = columns)

In [61]:
print(df_csvloop2)

      Station Identifier      Date Observation type  Observation value  \
0            ITE00100550  18640101             TMAX                 10
8            ASN00086071  18640101             TMAX                214
15           CA006158350  18640101             TMAX                 11
24           EIE00101859  18640101             TMAX                 94
28           BE000006447  18640101             TMAX                -23
34           GME00125218  18640101             TMAX                -81
39           EZE00100082  18640101             TMAX                -92
42           ITE00100554  18640101             TMAX                 17
47           ASN00066062  18640101             TMAX                244
53           AU000005901  18640101             TMAX                -50
55           GM000004204  18640101             TMAX                -68
59           UK000047811  18640101             TMAX                 59
67           UK000056225  18640101             TMAX                  5
72           SZ000006717  18640101             TMAX                -82
75           ITE00100550  18640102             TMAX                  8
83           ASN00086071  18640102             TMAX                234
90           CA006158350  18640102             TMAX               -161
99           EIE00101859  18640102             TMAX                 78
103          BE000006447  18640102             TMAX                -25
105          AGE00135039  18640102             TMAX                140
111          GME00125218  18640102             TMAX                -71
116          EZE00100082  18640102             TMAX                -98
119          ITE00100554  18640102             TMAX                 -3
124          ASN00066062  18640102             TMAX                266
130          AU000005901  18640102             TMAX                -70
132          GM000004204  18640102             TMAX                -63
136          UK000047811  18640102             TMAX                 42
144          UK000056225  18640102             TMAX                 -1
149          SZ000006717  18640102             TMAX               -107
152          ITE00100550  18640103             TMAX                -28
...                  ...       ...              ...                ...
27209        CA006158350  18641230             TMAX                -11
27217        EIE00101859  18641230             TMAX                 72
27221        BE000006447  18641230             TMAX                -21
27223        AGE00135039  18641230             TMAX                120
27230        GME00125218  18641230             TMAX                -16
27235        EZE00100082  18641230             TMAX                -73
27238        ITE00100554  18641230             TMAX                 57
27242        ASN00066062  18641230             TMAX                219
27248        AU000005901  18641230             TMAX                -10
27250        GM000004204  18641230             TMAX                -33
27254        UK000047811  18641230             TMAX                 73
27263        ASN00090015  18641230             TMAX                211
27265        UK000056225  18641230             TMAX                 17
27270        SZ000006717  18641230             TMAX                -40
27272        ITE00100550  18641231             TMAX                 33
27280        ASN00086071  18641231             TMAX                234
27286        CA006158350  18641231             TMAX                -61
27294        EIE00101859  18641231             TMAX                 72
27298        BE000006447  18641231             TMAX                -16
27300        AGE00135039  18641231             TMAX                145
27307        GME00125218  18641231             TMAX                -30
27312        EZE00100082  18641231             TMAX                -68
27315        ITE00100554  18641231             TMAX                 15
27319        ASN00066062  18641231             TMAX                223
27325        AU000005901  18641231             TMAX                -28
27327        GM000004204  18641231             TMAX                -34
27331        UK000047811  18641231             TMAX                 40
27340        ASN00090015  18641231             TMAX                239
27342        UK000056225  18641231             TMAX                 16
27347        SZ000006717  18641231             TMAX                -62

      Country Code   Datetime  month
0              ITE 1864-01-01      1
8              ASN 1864-01-01      1
15              CA 1864-01-01      1
24             EIE 1864-01-01      1
28              BE 1864-01-01      1
34             GME 1864-01-01      1
39             EZE 1864-01-01      1
42             ITE 1864-01-01      1
47             ASN 1864-01-01      1
53              AU 1864-01-01      1
55              GM 1864-01-01      1
59              UK 1864-01-01      1
67              UK 1864-01-01      1
72              SZ 1864-01-01      1
75             ITE 1864-01-02      1
83             ASN 1864-01-02      1
90              CA 1864-01-02      1
99             EIE 1864-01-02      1
103             BE 1864-01-02      1
105            AGE 1864-01-02      1
111            GME 1864-01-02      1
116            EZE 1864-01-02      1
119            ITE 1864-01-02      1
124            ASN 1864-01-02      1
130             AU 1864-01-02      1
132             GM 1864-01-02      1
136             UK 1864-01-02      1
144             UK 1864-01-02      1
149             SZ 1864-01-02      1
152            ITE 1864-01-03      1
...            ...        ...    ...
27209           CA 1864-12-30     12
27217          EIE 1864-12-30     12
27221           BE 1864-12-30     12
27223          AGE 1864-12-30     12
27230          GME 1864-12-30     12
27235          EZE 1864-12-30     12
27238          ITE 1864-12-30     12
27242          ASN 1864-12-30     12
27248           AU 1864-12-30     12
27250           GM 1864-12-30     12
27254           UK 1864-12-30     12
27263          ASN 1864-12-30     12
27265           UK 1864-12-30     12
27270           SZ 1864-12-30     12
27272          ITE 1864-12-31     12
27280          ASN 1864-12-31     12
27286           CA 1864-12-31     12
27294          EIE 1864-12-31     12
27298           BE 1864-12-31     12
27300          AGE 1864-12-31     12
27307          GME 1864-12-31     12
27312          EZE 1864-12-31     12
27315          ITE 1864-12-31     12
27319          ASN 1864-12-31     12
27325           AU 1864-12-31     12
27327           GM 1864-12-31     12
27331           UK 1864-12-31     12
27340          ASN 1864-12-31     12
27342           UK 1864-12-31     12
27347           SZ 1864-12-31     12

[5686 rows x 7 columns]

In [67]:
df_merged = df_merged.rename(columns = {0: 'Station Identifier', 1: 'Latitude', 2: 'Longitude', 3: 'Elevation', 4: 'State',\
                                        5: 'Name', 6: 'GSN Flag', 7: 'HCN/CRN Flag', 8: 'WMO ID'})
answer_73 = pd.merge(df_csvloop2, df_merged, how = 'left', on = 'Station Identifier')

print(answer_73)

     Station Identifier      Date Observation type  Observation value  \
0           ITE00100550  18640101             TMAX                 10
1           ASN00086071  18640101             TMAX                214
2           CA006158350  18640101             TMAX                 11
3           EIE00101859  18640101             TMAX                 94
4           BE000006447  18640101             TMAX                -23
5           GME00125218  18640101             TMAX                -81
6           EZE00100082  18640101             TMAX                -92
7           ITE00100554  18640101             TMAX                 17
8           ASN00066062  18640101             TMAX                244
9           AU000005901  18640101             TMAX                -50
10          GM000004204  18640101             TMAX                -68
11          UK000047811  18640101             TMAX                 59
12          UK000056225  18640101             TMAX                  5
13          SZ000006717  18640101             TMAX                -82
14          ITE00100550  18640102             TMAX                  8
15          ASN00086071  18640102             TMAX                234
16          CA006158350  18640102             TMAX               -161
17          EIE00101859  18640102             TMAX                 78
18          BE000006447  18640102             TMAX                -25
19          AGE00135039  18640102             TMAX                140
20          GME00125218  18640102             TMAX                -71
21          EZE00100082  18640102             TMAX                -98
22          ITE00100554  18640102             TMAX                 -3
23          ASN00066062  18640102             TMAX                266
24          AU000005901  18640102             TMAX                -70
25          GM000004204  18640102             TMAX                -63
26          UK000047811  18640102             TMAX                 42
27          UK000056225  18640102             TMAX                 -1
28          SZ000006717  18640102             TMAX               -107
29          ITE00100550  18640103             TMAX                -28
...                 ...       ...              ...                ...
5656        CA006158350  18641230             TMAX                -11
5657        EIE00101859  18641230             TMAX                 72
5658        BE000006447  18641230             TMAX                -21
5659        AGE00135039  18641230             TMAX                120
5660        GME00125218  18641230             TMAX                -16
5661        EZE00100082  18641230             TMAX                -73
5662        ITE00100554  18641230             TMAX                 57
5663        ASN00066062  18641230             TMAX                219
5664        AU000005901  18641230             TMAX                -10
5665        GM000004204  18641230             TMAX                -33
5666        UK000047811  18641230             TMAX                 73
5667        ASN00090015  18641230             TMAX                211
5668        UK000056225  18641230             TMAX                 17
5669        SZ000006717  18641230             TMAX                -40
5670        ITE00100550  18641231             TMAX                 33
5671        ASN00086071  18641231             TMAX                234
5672        CA006158350  18641231             TMAX                -61
5673        EIE00101859  18641231             TMAX                 72
5674        BE000006447  18641231             TMAX                -16
5675        AGE00135039  18641231             TMAX                145
5676        GME00125218  18641231             TMAX                -30
5677        EZE00100082  18641231             TMAX                -68
5678        ITE00100554  18641231             TMAX                 15
5679        ASN00066062  18641231             TMAX                223
5680        AU000005901  18641231             TMAX                -28
5681        GM000004204  18641231             TMAX                -34
5682        UK000047811  18641231             TMAX                 40
5683        ASN00090015  18641231             TMAX                239
5684        UK000056225  18641231             TMAX                 16
5685        SZ000006717  18641231             TMAX                -62

     Country Code   Datetime  month  Latitude  Longitude  Elevation State  \
0             ITE 1864-01-01      1       NaN        NaN        NaN   NaN
1             ASN 1864-01-01      1       NaN        NaN        NaN   NaN
2              CA 1864-01-01      1       NaN        NaN        NaN   NaN
3             EIE 1864-01-01      1       NaN        NaN        NaN   NaN
4              BE 1864-01-01      1       NaN        NaN        NaN   NaN
5             GME 1864-01-01      1       NaN        NaN        NaN   NaN
6             EZE 1864-01-01      1       NaN        NaN        NaN   NaN
7             ITE 1864-01-01      1       NaN        NaN        NaN   NaN
8             ASN 1864-01-01      1       NaN        NaN        NaN   NaN
9              AU 1864-01-01      1       NaN        NaN        NaN   NaN
10             GM 1864-01-01      1       NaN        NaN        NaN   NaN
11             UK 1864-01-01      1       NaN        NaN        NaN   NaN
12             UK 1864-01-01      1       NaN        NaN        NaN   NaN
13             SZ 1864-01-01      1       NaN        NaN        NaN   NaN
14            ITE 1864-01-02      1       NaN        NaN        NaN   NaN
15            ASN 1864-01-02      1       NaN        NaN        NaN   NaN
16             CA 1864-01-02      1       NaN        NaN        NaN   NaN
17            EIE 1864-01-02      1       NaN        NaN        NaN   NaN
18             BE 1864-01-02      1       NaN        NaN        NaN   NaN
19            AGE 1864-01-02      1       NaN        NaN        NaN   NaN
20            GME 1864-01-02      1       NaN        NaN        NaN   NaN
21            EZE 1864-01-02      1       NaN        NaN        NaN   NaN
22            ITE 1864-01-02      1       NaN        NaN        NaN   NaN
23            ASN 1864-01-02      1       NaN        NaN        NaN   NaN
24             AU 1864-01-02      1       NaN        NaN        NaN   NaN
25             GM 1864-01-02      1       NaN        NaN        NaN   NaN
26             UK 1864-01-02      1       NaN        NaN        NaN   NaN
27             UK 1864-01-02      1       NaN        NaN        NaN   NaN
28             SZ 1864-01-02      1       NaN        NaN        NaN   NaN
29            ITE 1864-01-03      1       NaN        NaN        NaN   NaN
...           ...        ...    ...       ...        ...        ...   ...
5656           CA 1864-12-30     12       NaN        NaN        NaN   NaN
5657          EIE 1864-12-30     12       NaN        NaN        NaN   NaN
5658           BE 1864-12-30     12       NaN        NaN        NaN   NaN
5659          AGE 1864-12-30     12       NaN        NaN        NaN   NaN
5660          GME 1864-12-30     12       NaN        NaN        NaN   NaN
5661          EZE 1864-12-30     12       NaN        NaN        NaN   NaN
5662          ITE 1864-12-30     12       NaN        NaN        NaN   NaN
5663          ASN 1864-12-30     12       NaN        NaN        NaN   NaN
5664           AU 1864-12-30     12       NaN        NaN        NaN   NaN
5665           GM 1864-12-30     12       NaN        NaN        NaN   NaN
5666           UK 1864-12-30     12       NaN        NaN        NaN   NaN
5667          ASN 1864-12-30     12       NaN        NaN        NaN   NaN
5668           UK 1864-12-30     12       NaN        NaN        NaN   NaN
5669           SZ 1864-12-30     12       NaN        NaN        NaN   NaN
5670          ITE 1864-12-31     12       NaN        NaN        NaN   NaN
5671          ASN 1864-12-31     12       NaN        NaN        NaN   NaN
5672           CA 1864-12-31     12       NaN        NaN        NaN   NaN
5673          EIE 1864-12-31     12       NaN        NaN        NaN   NaN
5674           BE 1864-12-31     12       NaN        NaN        NaN   NaN
5675          AGE 1864-12-31     12       NaN        NaN        NaN   NaN
5676          GME 1864-12-31     12       NaN        NaN        NaN   NaN
5677          EZE 1864-12-31     12       NaN        NaN        NaN   NaN
5678          ITE 1864-12-31     12       NaN        NaN        NaN   NaN
5679          ASN 1864-12-31     12       NaN        NaN        NaN   NaN
5680           AU 1864-12-31     12       NaN        NaN        NaN   NaN
5681           GM 1864-12-31     12       NaN        NaN        NaN   NaN
5682           UK 1864-12-31     12       NaN        NaN        NaN   NaN
5683          ASN 1864-12-31     12       NaN        NaN        NaN   NaN
5684           UK 1864-12-31     12       NaN        NaN        NaN   NaN
5685           SZ 1864-12-31     12       NaN        NaN        NaN   NaN

     Name GSN Flag HCN/CRN Flag  WMO ID
0     NaN      NaN          NaN     NaN
1     NaN      NaN          NaN     NaN
2     NaN      NaN          NaN     NaN
3     NaN      NaN          NaN     NaN
4     NaN      NaN          NaN     NaN
5     NaN      NaN          NaN     NaN
6     NaN      NaN          NaN     NaN
7     NaN      NaN          NaN     NaN
8     NaN      NaN          NaN     NaN
9     NaN      NaN          NaN     NaN
10    NaN      NaN          NaN     NaN
11    NaN      NaN          NaN     NaN
12    NaN      NaN          NaN     NaN
13    NaN      NaN          NaN     NaN
14    NaN      NaN          NaN     NaN
15    NaN      NaN          NaN     NaN
16    NaN      NaN          NaN     NaN
17    NaN      NaN          NaN     NaN
18    NaN      NaN          NaN     NaN
19    NaN      NaN          NaN     NaN
20    NaN      NaN          NaN     NaN
21    NaN      NaN          NaN     NaN
22    NaN      NaN          NaN     NaN
23    NaN      NaN          NaN     NaN
24    NaN      NaN          NaN     NaN
25    NaN      NaN          NaN     NaN
26    NaN      NaN          NaN     NaN
27    NaN      NaN          NaN     NaN
28    NaN      NaN          NaN     NaN
29    NaN      NaN          NaN     NaN
...   ...      ...          ...     ...
5656  NaN      NaN          NaN     NaN
5657  NaN      NaN          NaN     NaN
5658  NaN      NaN          NaN     NaN
5659  NaN      NaN          NaN     NaN
5660  NaN      NaN          NaN     NaN
5661  NaN      NaN          NaN     NaN
5662  NaN      NaN          NaN     NaN
5663  NaN      NaN          NaN     NaN
5664  NaN      NaN          NaN     NaN
5665  NaN      NaN          NaN     NaN
5666  NaN      NaN          NaN     NaN
5667  NaN      NaN          NaN     NaN
5668  NaN      NaN          NaN     NaN
5669  NaN      NaN          NaN     NaN
5670  NaN      NaN          NaN     NaN
5671  NaN      NaN          NaN     NaN
5672  NaN      NaN          NaN     NaN
5673  NaN      NaN          NaN     NaN
5674  NaN      NaN          NaN     NaN
5675  NaN      NaN          NaN     NaN
5676  NaN      NaN          NaN     NaN
5677  NaN      NaN          NaN     NaN
5678  NaN      NaN          NaN     NaN
5679  NaN      NaN          NaN     NaN
5680  NaN      NaN          NaN     NaN
5681  NaN      NaN          NaN     NaN
5682  NaN      NaN          NaN     NaN
5683  NaN      NaN          NaN     NaN
5684  NaN      NaN          NaN     NaN
5685  NaN      NaN          NaN     NaN

[5686 rows x 15 columns]

In [68]:
assert answer_73.shape == (5686, 15)

## Problems from exercise set 8

> **Ex. 8.1.2.:** Use the `request` module to collect the first page of job postings.
>
> Store the response.json() object in a new variable called `answer_81`.
>

In [ ]:
# [Answer to Ex. 8.1.2]

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert sorted(answer_81.keys()) == sorted(['Expression', 'Facets', 'JobPositionPostings', 'TotalResultCount'])

> **Ex. 8.1.3.:** Store the 'TotalResultCount' value for later use. Also create a dataframe from the 'JobPositionPostings' field in the json. Name this dataframe `answer_82`.

In [ ]:
# [Answer to Ex. 8.1.3]
# answer_82 = 

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert answer_82.shape == (20,44)